.burger__btn {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  // padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
  z-index: 1;

  @media screen and (max-width: 767px) {
    padding: 10px 15px 10px 0px;
  }

  .burger__btn--close {
    display: none;
  }

  &.is-open .burger__btn--close {
    display: block;
  }

  &.is-open .burger__btn--menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-wrapper {
  display: none;
}

.burger__btn.is-open + .menu-wrapper {
  display: block;
}

.menu-wrapper {

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    padding: 48px 40px;
    background-color: $color-white;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    padding: 21px 0;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
}
}