.contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.166;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $color-dark-grey;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  &__icon {
    // display: none;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}
