.hero {
  text-align: center;
  background-color: $color-bg-dark;

  &__background {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/bg.jpg');
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
  }

  &__title {
    font-weight: 900;
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    margin: 0px auto 30px auto;

    @media screen and (min-width: 1200px) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
