.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
  }

  &__member {
    background: $color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__photo {
    margin-bottom: 30px;
    width: 450px;
    height: 460px;

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 374px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__rank {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $color-dark-grey;
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__social {
    margin-bottom: 30px;
  }
}
