
  $color-text: #212121;
  $color-accent: #2196f3;
  $color-white: #ffffff;
  $color-black: #000000;
  $color-light-grey: #ececec;
  $color-dark-grey: #757575;
  $color-bg-dark: #2f303a;
  $color-bg-light: #f5f4fa;
  $transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
